/*En esta area se define la imagen de fondo de la página*/
body{
    background: url(fondo.jpg) no-repeat fixed center center;
    background-size: cover;
}
/*Esta clase centra todos los elemente de la página*/
.centrar{
    text-align: center;
}